<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gamestudio</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/puzzle-nehila.css" rel="stylesheet"/>
</head>
<body>

<div class="flex-holder content-section" th:fragment="success">
    <span class="alert alert-success">Everything went allright</span>
</div>

<div class="flex-holder content-section" th:fragment="error">
    <span class="alert alert-error">Sorry, there was an error</span>
</div>

</body>
</html>